*{
    margin:0;
}
.film-card{
    height: 400px;
    width: 190px;
    // border: 1px black solid;
    border-radius: 10px;    
    background-color: white;
    color: #1D1838;

    position: relative;    
}

.film-card__film{
    padding: 15px 20px;
}

.film-card__film-poster{
    height: 225px;
    width: 150px;  
    border-radius: 10px;
}

.film-card__film-name{
    font-size: 14px;
    font-weight: 600;
}

.film-card__film-genres, .film-card__film-year{
    font-size: 12px;
    font-weight: 400;
}

.mb10 {
    margin-bottom: 10px;
}

.film-card__film-like_button{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; 
    bottom: 15px;
	right: 20px;

    // background-image: url(../../assets/heart.svg);
    background-image: url(../../assets/heart-nofill.svg);

    // background: rgba(0, 0, 0, 0.1);
}

.film-card__film-like_button:hover{
    background: rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/heart-nofill.svg);
    background-repeat: no-repeat;
    background-position: center;    
}